h1 {
  color: rebeccapurple;
}

p{
  color: rebeccapurple;
}

input {
  border-radius: 10px;
}

.buttons {
  width: 40%;
  border-radius: 10px;
  color: rebeccapurple;
}

.view {
  background-color: lavenderblush;
}
